name: Lint

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0 # The lowest version Alba supports
        bundler-cache: true
    - name: Run RuboCop
      run: |
        bundle exec rubocop
